setuptools==63.4.3
chromedriver-autoinstaller==0.4.0
PyPDF2==2.10.0
reportlab==3.6.11
requests==2.25.1
requests-html==0.10.0
selenium==4.3.0
Selenium-Screenshot==2.0.0
streamlit==1.7.0
svg2rlg==0.3
svglib==1.4.1
urllib3==1.26.6
ez_setup==0.9
webdriver-manager==3.7.0
